<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express Lab</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Students</h1>
    <ul>
      </% students.forEach(function(t) { %>
        <li>
          <a href="/students/<%= t.id%>"></a><%= t.todo %>
            - 
          <%= t.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
  </body>

</html>